/* root pseudo selector */
:root {
    /* css variables */
    --navbar-height: 6rem;
    --viewport-height: 100vh;
    --primary-background-color: #e1dada;
}

/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: var(--navbar-height);
    background: blue;
    color: white;
    font-size: 3rem;
}

.banner {
    font-size: 2rem;
    /* height: 87.7vh; */
    background: red;
    
    min-height: 25rem;
    max-height: calc(var(--viewport-height) - var(--navbar-height));
    /* overflow: scroll; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.example{
    background: green;
    /* font-size: 1rem;
    line-height: 1rem; */
    
    font-size: 2rem;
    height: 25rem;
    width: 20rem;
    /* overflow: hidden; */
    overflow: scroll;
}